.subjectBlock {
    display: inline-block;
    background: #EEE;
    margin: 5px 5px;
    width: 300px;
    height: auto;
    vertical-align: top;
}

.item {
    background: white;
    border: none;
    border-collapse: collapse;
}