.subjectBlock {
    display: inline-block;
    background: #252525;
    margin: 0 1.3%;
    width: 22%;
    height: auto;
    vertical-align: top;
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 2.5%;
}

.subjectBlock:hover {
    background: #222;
    /* box-shadow: 2px 2px 5px 0px #999; */
    /* margin-top: 1.5%; */
}

.subjectBlock:active {
    background: #111;
    /* margin-top: 2.05%; */
    /* border-radius: 70px; */
}

.subject {
    padding: 20px;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Plus Jakarta Sans', 'Noto Sans TC', sans-serif;
}

.subjectHeading {
    padding: 20px;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Plus Jakarta Sans', 'Noto Sans TC', sans-serif;
}

.remaining {
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 20px;
    font-size: 25px;
    font-family: 'Plus Jakarta Sans', 'Noto Sans TC', sans-serif;
    color: #ccc
}

.item {
    background: #1f1f1f;
    border: none;
    border-collapse: collapse;
    padding: 25px 20px;
    font-size: 30px;
    font-family: 'Plus Jakarta Sans', 'Noto Sans TC', sans-serif;
    display: none;
}

.btnCollapse {
    background: rgb(0, 40, 64);
    position: absolute;
    bottom: 15px;
    right: 30px;
    width: 100px;
    height: 100px;
    color: #EEE;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btnCollapse:hover {
    background: rgb(0, 34, 56);
    /* box-shadow: 8px 7px 20px 0px #CCC; */
}

.btnCollapse:active {
    background: rgb(0, 51, 83);
    /* box-shadow: 12px 11px 20px 3px #CCC; */
    border-radius: 35%;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

.invis {
    opacity: 0
}

.overlay {
    opacity: 0.9;
    background: black;
    width: 120vw;
    height: 120vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.details {
    width: 800px;
    height: auto;
    position: absolute;
    left: calc(50% - 400px);
    background: #1b1b1b;
    border-radius: 30px;
    padding: 30px;
    box-sizing: border-box;
    display: none;
}

.innerSubject {
    padding-bottom: 20px;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Plus Jakarta Sans', 'Noto Sans TC', sans-serif
}

.innerCategory {
    padding: 10px 0;
    padding-bottom: 0px;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Plus Jakarta Sans', 'Noto Sans TC', sans-serif
}

.liMain {
    font-size: 25px;
    font-family: 'Plus Jakarta Sans', 'Noto Sans TC', sans-serif;
    padding-top: 15px;
}

.liDate {
    font-size: 20px;
    font-family: 'Plus Jakarta Sans', 'Noto Sans TC', sans-serif;
    padding-top: 5px;
    opacity: 0.6
}

.dismiss {
    width: 100%;
    margin: 10px 0;
    margin-bottom: 0;
    box-sizing: border-box;
    padding: 20px 0;
    font-size: 20px;
    letter-spacing: 5px;
    border-radius: 18px;
    font-weight: 400;
    color: #81a1b5;
    background: #252728;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.dismiss:active {
    background: #0b1012;
    border-radius: 100px;
}

.container::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

.container {
    width: 96%;
    height: 100vh;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: 0px;
    overflow-y: scroll;
    box-sizing: border-box;
    margin: 2%
}

.checkButton {
    width: 34px;
    height: 34px;
    background: rgb(0, 72, 117);
    border-radius: 5px;
    border: 2px solid rgb(0, 72, 117);
    padding: 5px;
    color: white;
    transition: 0.2s;
    cursor: pointer;
}

.unchecked {
    border: 2px solid rgb(0, 72, 117);
    background: none;
    color: transparent;
}